---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: customer-service-app
  namespace: neuralbank
  labels:
    app.kubernetes.io/name: customer-service-app
    app.kubernetes.io/part-of: neuralbank-legacy-core
spec:
  replicas: 1
  selector:
    matchLabels:
      app: customer-service-app
  template:
    metadata:
      labels:
        app: customer-service-app
    spec:
      containers:
        - name: java-container
          image: quay.io/fraposo/customer-service:1.0.0
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
          
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"

          livenessProbe:
            httpGet:
              path: /q/health/live
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /q/health/ready
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10